
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  %p
    %label Email:
    %br/
    = f.email_field :email, autofocus: true, class: "text"
  %p
    %label Password:
    %br/
    = f.password_field :password, autocomplete: "off", class: "text"
  %p
    %label Confirm Password:
    %br/
    = f.password_field :password_confirmation, autocomplete: "off", class: "text"
  %p.formend
    = f.submit "Sign up", class: "submit"
    = render "devise/shared/links"