
%h2{:style => "padding-bottom: 20px; text-align:center;"} Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  %p
    %label Password:
    %br/
    = f.password_field :password, autocomplete: "off", class: "text"
  %p
    %label Confirm Password:
    %br/
    = f.password_field :password_confirmation, autocomplete: "off", class: "text"
  %p.formend
    = f.submit "Change my password", class: "submit"
    %br
    %br
    = render "devise/shared/links"