
%h2{:style => "padding-bottom: 20px; text-align:center;"} Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  %p
    %label Email:
    %br/
    = f.email_field :email, autofocus: true, class: "text"
  %p.formend
    = f.submit "Send me reset password instructions", class: "submit"
    %br
    %br
    = render "devise/shared/links"