= form_for(@bounty) do |f|
  - if @bounty.errors.any?
    #error_explanation
      %h2
        = pluralize(@bounty.errors.count, "error")
        prohibited this bounty from being saved:
      %ul
        - @bounty.errors.full_messages.each do |message|
          %li= message
  %p
    = label_tag 'status', 'Status'
    /= select_tag "status", options_for_select(["Published", "Private"], "Published")
    = f.select 'status', [["Published", true], ["Private", false]]
  %p
    = label_tag 'bounty_title', 'Bounty Title:'
    %br
    = f.text_field "bounty_title", class: "text", size: "60"
  %p
    = label_tag 'bounty_url', 'URL:'
    %br
    = f.text_field "bounty_url", class: "text", size: "60"
  %p
    = label_tag 'convicted', 'Convicted'
    = f.select 'convicted', [["True", true], ["False", false]]
  %p
    = label_tag 'progress', 'Progress'
    = f.select 'progress', [["True", true], ["False", false]]
  %p.fileupload
    = label_tag 'bounty_graphic', 'Bounty Graphic'
    %br
    = f.file_field 'bounty_graphic'
  %p
    = label_tag 'bounty_name', "Name:"
    %br
    = f.text_field "bounty_name", class: "text", size: "60"
  %p
    = label_tag 'email', "User's Email:"
    %br
    = f.text_field "email", class: "text", size: "60"
  %p
    = label_tag 'short_desc', "Short Description(One line):"
    %br
    = f.text_field "short_desc", class: "text", size: "100"
  %p
    = label_tag 'summary', 'Summary:'
    %br/
    = f.text_area 'summary', class: 'wysiwyg', cols: "100"
  %p
    = label_tag 'background', 'Background:'
    %br/
    = f.text_area 'background', class: 'wysiwyg', cols: "100"
  %br/
  %p
    = label_tag 'starting_date', 'Starting date:'
    = text_field_tag 'starting_date', nil, class: 'text date_picker', type:'text', value: @starting_date
    \&nbsp;&nbsp;
    = label_tag 'ending_date', 'Ending date:'
    = text_field_tag 'ending_date', nil, class: 'text date_picker', type:'text', value: @ending_date
  %br/
  #attachment
    %p.fileupload
      %label Attachment Title:
      %br/
      = text_field_tag 'attachment_title[]', nil, class: 'text', type: 'text', size: '60'
      %br
      %br
      = file_field_tag 'attachment_file[]', class: 'file'
    %p.fileupload
      %label Attachment Title:
      %br/
      = text_field_tag 'attachment_title[]', nil, class: 'text', type: 'text', size: '60'
      %br
      %br
      = file_field_tag 'attachment_file[]', class: 'file'
  %p
    = link_to 'Add another attachment', nil, class: "add_attachment"
  %p
    %label BTC Address:
    %br/
    = f.text_field 'btc_address', type: 'text', size: '60', class: 'text'
    = f.text_field :remote_btc_image_url, type:'hidden'
  %p
    %label Discussion:
    %br/
    = f.text_field 'discussion', type: 'text', size: '60', class: 'text'
  %p
    - if @bounty.new_record?
      %input.submit{:type => "submit", :value => "Create"}/
    - else
      %input.submit{:type => "submit", :value => "Save"}/