%section#content
  .breadcrumb
  / .breadcrumb ends
  %h2 List of Bounties
  %div{:style => "padding-bottom: 10px;"}
    = link_to 'New Bounty', new_bounty_path
  = form_tag apply_bounties_path, method: :get do
    %table.sortable{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
      = render 'shared/bounties_message'
      %thead
        %tr
          %th{:width => "10"}
            %input.check_all{:type => "checkbox"}/
          %th Bounty title
          %th Status
          %th Convicted
          %th Last Date
          %th Bounty
          %th &nbsp;
      %tbody
        - @bounties.each do |bounty|
          %tr
            %td
              /%input{:type => "checkbox", :name => "chk"}
              = check_box_tag('chk[]', bounty.id)
              %input{:type => "hidden", :value => "#{bounty.id}"}
            %td
              %strong
                = link_to bounty.bounty_title, edit_bounty_path(bounty)
            %td
              - if bounty.status == true
                Published
              - else
                Private
            %td
              = bounty.convicted
            %td
              = bounty.updated_at.strftime("%m.%d.%Y")
            %td
              %a{:href => "#"}
                %div{"data-btcaddress" => "187Udd14Eqmfm4oAtEhSvau7kmasXn2e4j", "data-btcbalance" => "true"} Loading...
            %td.delete
              %a{"data-confirm" => "Are you sure to want to delete this bounty?", "data-method" => "delete", :href => bounty_path(bounty), :rel => "nofollow"}
                %img{:alt => "Delete", :src => "/assets/close.png", :title => "Delete"}/
              
              
        
    .tableactions
      = select_tag "status", options_for_select([ "Private", "Publish"], "Private")
      %input.submit.tiny{:type => "submit", :value => "Apply to selected", :onclick => "return btnApplyClick();"}/
    .table_pagination.right
      = paginate @bounties
    
      
  %br/
  %br/
  %hr/
  %br/
/ #content ends