- if object && object.errors.size > 0
  #errorExplanation
    %h2
      = pluralize(object.errors.size, "error")
      prohibited this record from1 being saved
    %p There were problems with the following fields:
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg