
/ %section#content.loginbox
/   = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/     .field
/       = f.label :email
/       %br/
/       = f.email_field :email, autofocus: true
/     .field
/       = f.label :password
/       %br/
/       = f.password_field :password, autocomplete: "off"
/     - if devise_mapping.rememberable?
/       .field
/         = f.check_box :remember_me
/         = f.label :remember_me
/     .actions
/       = f.submit "Log in"
/   = render "devise/shared/links"



= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %p
    %label Email:
    %br/
    = f.email_field :email, autofocus: true, class: "text"
  %p
    %label Password:
    %br/
    = f.password_field :password, autocomplete: "off", class: "text"
  %p.formend
    = f.submit "Log in", class: "submit"
    \&nbsp;
    %input#rememberme.checkbox{:checked => "checked", :type => "checkbox"}/
    %label{:for => "rememberme"} Remember me
    %br
    %br
    = render "devise/shared/links" 