body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

// a {
//   color: #000;
//   &:visited {
//     color: #666;
//   }
//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.loginpage .field_with_errors {
  padding-left: 20px;
  background-color: transparent;
  
}

.loginpage #content .field_with_errors input.text {
  border-color: red;
}


#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  border: 1px solid #bbdbe0;
  background: #f0f0f0 url(../assets/msg_error.png) 12px 12px no-repeat;
  color: #0888c3;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
    color: red;
  }
}

#content #error_explanation {
  h2 {
    font-size: 12px;
  }
}



.loginpage #error_explanation {
  width: auto;
  border: none;
  margin-bottom: 20px;
}
