!!!
%html
  %head
    %title BountyHunterAdmin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render "shared/flashes"
      %p
        - if admin_signed_in?
          /= current_admin.email
          = link_to "Sign Out", destroy_admin_session_path, method: :delete
    = yield