!!!
%html
  %head
    %title BountyHunterAdmin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %h1
        %a{:href => "page.html"} Bitcoin Bounty
      %section.userprofile
        %ul
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/assets/avatar.gif"}/
              = current_admin.email
            %ul
              / %li
              /   %a{:href => "#"} Profile
              %li
                = link_to "Sign Out", destroy_admin_session_path, method: :delete
    %aside
      %ul#nav
        %li
          = link_to bounties_path do
            %strong
              %img{:alt => "", :src => "/assets/nav/pages.png"}/
              Bounties
        
    = yield
